.event-form {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    display: block;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.event-item {
    width: 100%;
    max-width: 20rem;
    margin: 1.5rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.event__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.event__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.event__description {
    text-align: center;
}